<!DOCTYPE html>
<html>
    <body>
        <div class="container">
            <a href="/"><button type="submit" class="btn btn-default">Home</button></a>
            <h1>Epic Shoe Store Directory</h1>
            <h2>{{ store.getName }}</h2>
            <div class="row">
                <div class="col-sm-8">
                    {% if store_brands %}
                        <h4>Brands carried:</h4>
                        {% for brand in store_brands %}
                            <h4><a href="/brand/{{ brand.getId }}">{{ brand.getName }}</a></h4>
                        {% endfor %}
                        <form class="" action="/store/{{ store.getId }}/delete_brands" method="post">
                            <button type="submit" class="btn btn-danger">Delete All</button>
                        </form>
                    {% endif %}
                </div>
                <div class="col-sm-4">
                    {% if brands_not_carried %}
                        <div class="form-group">
                            <form class="form-inline" action="/store/{{ store.getId }}/add_brand" method="post">
                                <h5>Add a new Brand to Store</h5>
                                <select name="brand_id" class="form-control">
                                    {% for brand in brands_not_carried %}
                                        <option value="{{ brand.getId }}">{{ brand.getName }}</option>
                                    {% endfor %}
                                </select>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </form>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <form class="form-inline" action="/store/{{ store.getId }}/edit_name" method="post">
                            <h5>Edit Store Name</h5>
                            <input name="_method" type="hidden" value="patch">
                            <input type="text" name="edit_name" required>
                            <button type="submit" class="btn btn-success">Edit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
